{% extends "base.html.twig" %}
{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    {#{ form_start(forms) }}
        {{ form_widget(forms) }}
        <input type="submit" value="Valide" />
    {{ form_end(forms) }#}
    {#{form (forms)}#}
{% endblock %}

